<app-navbar></app-navbar>
<section class="hero-section">
  <div class="container">
    <div class="overlay">
      <h1 class="title">Our path to shelter animals</h1>
      <p class="description">
        At Paw Patrol, we’re passionate about helping animals find their forever homes.
        Our mission is to connect loving families with animals in need, creating lifelong bonds and second chances for pets of all kinds.
        With compassion, dedication, and a deep commitment to animal welfare, we guide adopters through every step,
        ensuring that each adoption is a positive and joyful experience. Join us in making a difference, one adoption at a time!
      </p>
    </div>
  </div>
</section>

<!-- <div class="container d-flex align-items-center justify-content-center text-white">
        <div class="row">
        <div class="right col-md-12">
            <div class=" d-flex align-items-center justify-content-center" style="padding-top: 10%;">
                <h1 class="fs-1">Our latest adoptions !</h1>
            </div>
            <div class="first" style="margin: auto;">
                <img src="../../assets/img/landingpic.jpg" alt="">
                <img src="../../assets/img/loginpic.jpg" alt="">
                <img src="../../assets/img/landingpic2.jpg" alt="">
                <img src="../../assets/img/landingpic3.jpg" alt="">
                <img src="../../assets/img/landingpic4.jpg" alt="">
            </div>
        </div>
    </div>
    </div>
    <div class="container  align-items-center justify-content-center text-black">
 
          
    </div> -->