<app-navbar></app-navbar>

<div class="wrapper">
    <div class="container main">
        <div class="row">
            <!-- Left Column: Icons and Text -->
            <div class="col-md-6 side-image">
                <div class="box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: aliceblue;"></mat-icon>
                    <div class="text">
                        <h3>Address</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, porro.</p>
                    </div>
                </div>
                <div class="box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example phone icon" fontIcon="phone" style="color: aliceblue;"></mat-icon>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>062234455</p>
                    </div>
                </div>
                <div class="box">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example email icon" fontIcon="email" style="color: aliceblue;"></mat-icon>
                    <div class="text">
                        <h3>Email</h3>
                        <p>pawpatrol101&#64;gmail.com</p>
                    </div>
                </div>
            </div>

            <!-- Right Column: Contact Form -->
            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Contact Us</header>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Full name</mat-label>
                        <input matInput type="text" placeholder="Yassir Err" required>
                    </mat-form-field>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="pat@example.com" required>
                    </mat-form-field>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Type your message</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                    <button mat-flat-button color="primary" [style.width]="'100%'">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
