<div id="sidebar">
    <div id="sidebar-title">
        <img src="/assets/img/logo.png" alt="" logo>
    </div>
    <div id="tabs">
        <!-- <app-navlink [link]="dashboardLink" id="dashboardLink"></app-navlink> -->


        <p nav-header>Admin Dashboard</p>
        <ul>

            <li>
                <a class="nav-link mx-lg-2" aria-current="page" routerLink="/home" >Home</a>
            </li>
            <li>
                <a class="nav-link mx-lg-2" aria-current="page" routerLink="/adopt" >Adopt</a>
            </li>
            <li>
                <a class="nav-link mx-lg-2" aria-current="page" routerLink="/about" >About us</a>
            </li>
            <li>
                <a class="nav-link mx-lg-2" aria-current="page" routerLink="/contact">Contact</a>
            </li>

        </ul>

    </div>
</div>