.login-button {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s background-color;
}
.logout-button {
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s background-color;
}

.login-button:hover {
  background-color: rgb(95, 133, 117);
}