<app-navbar></app-navbar>
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <div class="text">
                    <p>Adopt a pet with <i>- Paw Patrol</i></p>
                </div>
            </div>

            <div class="col-md-6 right">
                <div class="input-box">
                    <header>Sign up</header>
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        }
                        </mat-form-field>
                    <!-- <mat-form-field [style.width]="'100%'">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" required>

                    </mat-form-field> -->
                    <mat-form-field [style.width]="'100%'">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" required>
                        @if (emailFormControl.hasError('password') && !emailFormControl.hasError('required')) {
                            <mat-error>Please enter a valid email address</mat-error>
                            }
                            @if (emailFormControl.hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                            }
                    </mat-form-field>
                    
                    <!-- <a id="forgotPassword">Mot de passe oublié ?</a> -->
                    <button #loginbtn mat-flat-button color="primary" [style.width]="'100%'" >Signup</button>
                    <p style="margin-top: 16px; justify-self: center;">Already have an account ? <a href="/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>